*{
    margin:0;
    padding: 0;
    font-family:sans-serif;
    box-sizing:border-box;
}

.header{
    width:100%;
    padding:30px 30px;
    display:flex;
    justify-content:space-between;
    box-shadow:rgba(0,0,0,0.35) 0px 5px 15px;
}

.header .logo h2{
    color:#a31717;
    cursor:pointer;
    font-size:32px;
}
.header ul{
    display:flex;
}

.header ul li{
    margin-right:20px;
    list-style:none;
}

.header ul li .link{
    text-decoration: none;
    color:#1bee37
}